html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.vocabularyTranslateContainer {
  background: #404040;
  border: 1px solid black;
  height: 100vh;

  .vocabularyTranslateFrontSide {
    margin: auto;
    margin-top: 35px;
    width: 350px;
    height: 450px;
    position: relative;
    z-index: 10;
    background: white;
    backface-visibility: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .sentencesVnContainer {
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      .sentencesVn {
        font-size: 20px;
        font-weight: 600;
        padding: 20px 20px 5px 20px;
        margin-right: auto;
        margin-left: auto;
        // height: 20%;
      }

      .sentencesSuggest {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 5px 15px;

        .suggestItem {
          text-align: center;
          width: 30px;
          padding: 5px;
          border: 1px solid black;
          background-color: #00c660;
          color: white;
        }
      }

      // .hidden {
      //   display: none;
      // }
    }



    .sentencesEn {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      // height: 15%;

      .sentencesEnIcon {
        font-size: 25px;
        padding-top: 5px;
      }

      input {
        border-bottom: solid 1px black;
        border-radius: 0;
        width: 85%;
        font-size: 18px;
        background-color: transparent;
      }
    }




  }

  .buttonPlayContainer {
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    position: relative;
    text-align: center;
    z-index: 10;
    gap: 15px;

    .buttonPlay {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border: none;
      padding: 10px 0px;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      width: 100px;
      cursor: pointer;
      font-weight: bold;
    }

    .hiddenBtn {
      display: none;
    }

    .buttonPlay:hover {
      background-color: green;
      color: white;
    }
  }

  #hiddenNumber {
    width: 30px;
    height: 30px;
    margin: auto;
    text-align: center;
    display: none;
  }

  @media (max-width: 576px) {
    #backgroundPlay {
      margin-top: 20px;
    }
  }
}