html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flashCardContainer {
  //background: #404040;
  border: 1px solid black;
  height: calc(100vh - 150px);

  .backgroundPlayRepeat {
    margin: auto;
    margin-top: 3px;
    border-radius: 10px;
    width: 350px;
    min-height: 480px;
    position: relative;
    z-index: 10;
    background: #fffaf0;
    backface-visibility: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    p {
      background-color: #001a66;
      width: 100%;
      padding: 10px;
      color: white;
      font-size: 25px;
      font-weight: 600;
      text-align: center;
    }

    img {
      height: 60px;
    }
  }

  .backgroundPlay {
    margin: auto;
    margin-top: 3px;
    width: 350px;
    height: 245px;
    position: relative;
    z-index: 10;

    .label {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;

      cursor: pointer;
      z-index: 10;

      .flip-card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        z-index: 10;

        .flashCardFrontSide {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          background: white;
          backface-visibility: hidden;
          z-index: 10;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;
          border: 2px solid black;
          border-radius: 15px;

          img {
            height: 35px;
           // width: 35px;
            position: absolute;
            top: 0;
            right: 35px;
           // transform: rotate(90deg);
          }

          .wordOfFrontSide {
            font-size: 35px;
            font-family: Arial;
            font-weight: bold;
          }

          .phoneticOfWord {
            font-size: 20px;
          }
        }

        .flashCardBackSide {
          position: absolute;
          width: 100%;
          min-height: 100%;
          background: lightblue;
          backface-visibility: hidden;
          z-index: 10;
          transform: rotateY(180deg);
          background: white;
          display: flex;
          flex-direction: column;
          gap: 10px;
          display: flex;
          flex-direction: column;
          border: 2px solid black;
          border-radius: 15px;

          .txtBack {
            padding: 15px;
            display: flex;
            width: 100%;
            flex-direction: column;
            word-break: break-word;
            font-size: 20px;
            font-family: Arial;

            .definitionOfWord {
              img {
                height: 14px;
                width: 18px;
                margin-right: 5px;
              }
            }

            .meaningOfWord {
              img {
                height: 14px;
                width: 18px;
                margin-right: 5px;
              }
            }
          }

          .examplesOfWordContainer {
            display: flex;
            flex-direction: column;
            padding: 15px;
            padding-top: 0;
            width: 100%;
            gap: 5px;

            .exampleOfTitle {
              font-weight: 600;
              font-size: 14px;
              background-color: #001a66;
              color: white;
              padding: 3px;
              text-align: center;
              width: 85px;
            }

            .exampleOfWordEn {
              color: #001a66;
              font-size: 18px;
              font-weight: 600;
              //font-style: italic;
            }

            .exampleOfWordVn {
              font-style: italic;
              font-size: 18px;
            }
          }

          .hiddenBack {
            display: none;
          }
        }
      }

      .cardFlip {
        transform: rotateY(180deg);
      }

      :checked + .flip-card {
        transform: rotateY(180deg);
      }
    }
  }

  .buttonPlayContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
    position: relative;
    text-align: center;
    z-index: 10;
    gap: 15px;

    .buttonPlay-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border: 2px solid black;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      width: 75px;
      cursor: pointer;

      img {
        height: 75%;
      }

      #arrow-right-btn {
        height: 100%;
      }
    }

    .hiddenBtn {
      display: none;
    }
  }

  .checkBoxContainer {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 15px;
      height: 15px;
    }

    .checkBoxText {
      padding-left: 5px;
      color: white;
    }
  }
}
