.footer-container{
    margin: auto;
    // width: 85%;
    height: 45px;
    display: flex;
    justify-content: center;
    background-color: #001a66;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
}